on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-java@v4.0.0
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - name: Build
        run: ./gradlew check
      - name: Tag automerge branch
        if: ${{ github.event_name == 'pull_request' }}
        uses: TimonVS/pr-labeler-action@v5.0.0
        with:
          configuration-path: .github/pr-labeler.yml
        env:
          GITHUB_TOKEN: ${{ secrets.ORG_PUBLIC_REPO_RELEASE_TRIGGERING }}
